projects/fast-dev-demo/src/main/mule/fast-dev-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="8790cee0-a561-4657-8406-3949515a0071" >
		<salesforce:cached-basic-connection username="${sfdc.user}" password="${sfdc.pwd}" securityToken="${sfdc.token}" />
	</salesforce:sfdc-config>
	<configuration-properties doc:name="Configuration properties" doc:id="38d4db79-ee04-48ed-aed1-5c3bc0ce5df6" file="secrets.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cdd2861f-7b6c-4504-b492-71faa003bc88" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="ada06a92-c280-41a8-89f0-f7175f0cfab1" >
		<file:connection />
	</file:config>
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="c8e49d78-d6cb-4452-88b3-e7eedfd0360c" >
		<ftp:connection host="localhost" />
	</ftp:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4d97a3ec-3514-4622-8159-80ebd4ac3174" >
		<db:my-sql-connection host="localhost" port="3306" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fa24a722-4a28-4d20-ab40-3f5230e4e40a" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="connectors-demo" doc:id="3c32b067-1a30-4aa6-9581-02419256f063" >
		<salesforce:query doc:name="Query" doc:id="7c69ba3d-453e-49bf-b93b-8c5b7699f4fa" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Name, Phone FROM Account LIMIT 10</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="24b44c84-ece9-4ca3-9063-b0f6ddde93cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="35482c47-aef1-4a1b-a98c-08291f7566e1" config-ref="File_Config" path="output.txt"/>
	</flow>
	<flow name="transform-demo" doc:id="aa4fc518-e197-4f5d-8f14-92762d0536c2" >
		<salesforce:query doc:name="Query" doc:id="792a0ad9-faef-4471-b73c-c6227c08be7e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Id, Name, Phone FROM Account</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="9fdd17a9-219c-48a5-a332-ff62d01df993" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	identificador: payload.Id,
	nome: payload.Name,
	telefone: payload.Phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="controlflow-demo" doc:id="ffd994f7-e256-4f21-b9a5-9923ef557534" >
		<set-variable value="" doc:name="Set Variable" doc:id="f971fdbf-370f-4c44-a520-d2a3a79e3814" variableName="user"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="4415ae9e-e712-4972-afb9-c71ca90208c5" >
			<route >
				<http:request method="GET" doc:name="Request" doc:id="5714df0a-0461-46e7-8aec-61f55194dfd5" config-ref="HTTP_Request_configuration"/>
			</route>
			<route >
				<db:update doc:name="Update" doc:id="38dd8864-56fc-465c-9be0-3a9d47839a8f" config-ref="Database_Config">
					<db:sql >UPDATE</db:sql>
				</db:update>
			</route>
			<route >
				<salesforce:create type="Account" doc:name="Create" doc:id="37bab363-991c-4641-a6e9-ebb516e2f36d" config-ref="Salesforce_Config"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="90881fd2-15c5-4ef0-8a6b-ddd55afbcad1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="webServer" doc:id="b9a4c482-e22a-4c2c-85e0-7082b6f4e457">
		<http:listener doc:name="/connect" doc:id="8a7372a8-24f8-4975-a6fe-59f8999d5ec9" config-ref="HTTP_Listener_config" path="/connect" />
		<flow-ref doc:name="Flow Reference" doc:id="16def2a8-26c6-4493-9b1b-ac8e5bbcae6d" name="transform-demo" />
	</flow>
</mule>
